@import '~antd/dist/antd.css';

@media (min-width: 500px) {
    body {
        overflow-y: scroll !important;
        background: #f6f6f6;
    }
    .appWrapper {
        height: 600px;
        overflow-y: scroll;
        max-width: 380px;
        margin: 25px auto;
        box-shadow: 0 30px 40px rgba(0,0,0,0.15), 0 4px 10px rgba(0,0,0,0.1);
    }
}

.appWrapper {
    background: #f0f2f5;
    padding: 2em;
}